@charset "UTF-8";

/**
-----------------------------------
组件类样式
-----------------------------------
**/
.content-wrapper {
    min-height: 500px;
    overflow: hidden;
}
.components {
    width: 290px;
    float: left;
    background: #f2f2f2;
}
.components .components-list__tip {
    height: 44px;
    line-height: 44px;
    background: #f60;
    color: #fff;
    padding-left: 12px;
    font-size: 16px;
    font-weight: bold;
}
.components .components-list .components-list__title {
    font-size: 14px;
    padding-left: 12px;
    height: 30px;
    line-height: 30px;
    background: #d4d4ab;
    width: 140px;
    margin: 10px 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.components .components-list__title span {
    color: #f60;
    padding-right: 10px;
}
/**
-----------------------------------
容器类样式
-----------------------------------
**/
.container {
    overflow: hidden;
}
.container .container-content {
    margin-left: 20px;
    margin-right: 2px;
}
.preview-bar {
    height: 40px;
    line-height: 40px;
    background: #f1f1f1;
}
.preview-bar p {
    text-align: right;
    margin-right: 12px;
    line-height: 36px;
}
.preview-bar p a {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #f60;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}
.common-box {
    text-align: left;
    min-height: 500px;
    overflow-x: auto;
}
.header,
.footer {
    height: 100px;
    text-align: center;
    font-size: 14px;
    line-height: 100px;
}
.header {
    border-bottom: 1px solid #f00;
}
.footer{
    border-top: 1px solid #f00;
}
/**
-----------------------------------
拖拽类样式
-----------------------------------
**/
.components-drag__wrapper {
	width: 260px;
    margin: 0 auto;
    overflow: hidden;
}
.components-drag__wrapper .components-drag {
    overflow: hidden;
    border: 1px dashed #d8d8d8;
    text-align: center;
    margin: 10px 2px;
    cursor: move;
    width: 80px;
    height: 80px;
    float: left;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.components-drag__base span {
    font-size: 12px;
}
.components-drag__base i {
    display: inline-block;
    width: 50px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
    background: #ccc;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.components-drag__show {
    display: none;
    position: relative;
    min-height: 30px;
    margin-bottom: 8px;
}

.components__hover {
	background: #FBEC88;
}
.components-op {
    position: absolute;
    top: 0;
    right: 12px;
    display: none;
    font-size: 12px;
    color: #f60;
}
.components-op i {
	cursor: pointer;
}
.components-drag__show:hover > .components-op {
    display: block;
}
/**
-----------------------------------
基础布局样式
-----------------------------------
**/
.layout-g {
    width: 100%;
    min-height: 30px;
    margin: 8px 0;
}
.layout-2 .layout-2__left {
    width: 220px;
    float: left;
}
.layout-2 .layout-2__right {
    width: 965px;
    float: right;
}
.layout-2,
.layout-3 {
	width: 1200px;
	margin: 8px auto;
}
.layout-2 .layout-2__left,
.layout-2 .layout-2__right,
.layout-3 .layout-3__left,
.layout-3 .layout-3__center,
.layout-3 .layout-3__right {
	min-height: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.layout-3 .layout-3__left {
	float: left;
	width: 250px;
}
.layout-3 .layout-3__center {
	float: left;
	width: 680px;
	margin-left: 10px;
}
.layout-3 .layout-3__right {
	float: right;
	width: 250px;
}
/**导航**/
.layout-nav-list {
    height: 36px;
    line-height: 36px;
    background: #0095ff;
    padding: 0 12px;
}
.layout-nav-list li {
    float: left;
}
.layout-nav-list li a{
    display: inline-block;
    color: #fff;
    width: 100px;
    text-align: center;
    text-decoration: none;
}
.layout-nav-list li a:hover {
    background: #fff;
    color: #0095ff;
}
/**商品分类树**/
.layout-pro {

}
.layout-pro .layout-pro-classify {
    width: 100%;
    border: 1px solid #d8d8d8;
    background: #f7f7f7;
    padding: 0 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.layout-pro .layout-pro-classify h5 {
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0;
    color: #ef794d;
}
.layout-pro .layout-pro-all {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    border: 1px solid #d8d8d8;
    margin: -1px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.layout-pro .layout-pro-all a {
    color: #adadac;
    text-decoration: none;
    font-size: 12px;
}
.layout-tree-type {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #ef794d;
    padding-left: 12px;
    border-bottom: 1px dotted #d8d8d8;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.layout-tree {
    width: 100%;
    min-height: 200px;
    border: 1px solid #d8d8d8;
    background: #fff;
    overflow-x: hidden;
    margin-top: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
/**tab组件样式**/
.layout-tab {
    width: 920px;
}
.layout-tab-nav {
    overflow: hidden;
    font-size: 13px;
    border-bottom: 1px solid #d8d8d8;
}
.layout-tab-nav li {
    float: left;
    text-align: center;
}
.layout-tab-nav li.selected {
    border: 1px solid #d8d8d8;
    margin-bottom: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.layout-tab-nav li.selected a {
    cursor: text;
}
.layout-tab-nav li a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 0 15px;
    margin-right: 2px;
    line-height: 34px;
    border: 1px solid transparent;
}
.layout-tab-content__wrapper {
    width: 920px;
    font-size: 12px;
}
.layout-tab-content__wrapper .layout-tab-content {
    display: none;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}
.layout-tab-content__wrapper .layout-tab-content p {
    line-height: 1.414em;
    color: #333;
}
.layout-tab-content__wrapper .layout-tab-content.show {
    display: block;
}
/**商品列表页面**/
.layout-pro-list {
    overflow: hidden;
}
.layout-pro-header p {
    font-size: 16px;
    padding-left: 12px;
}
.layout-pro-header .pro-sort-bar {
    height: 30px;
    line-height: 30px;
    border: 1px solid #d8d8d8;
    background: #f1f1f1;
    margin: 6px 0;
}
.layout-pro-list .pro-list {
    width: 1050px;
    margin: 0 auto;
    overflow: hidden;
}
.layout-pro-list .pro-list li {
    width: 240px;
    height: 230px;
    border: 1px solid #d8d8d8;
    float: left;
    margin-right: 24px;
    margin-bottom: 10px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.layout-pro-list .pro-list li:nth-child(4n) {
    margin-right: 0;
}
.pro-list li .img-wrapper {
    position: relative;
    width: 240px;
    height: 120px;
    overflow: hidden;
}
.pro-list li .img-wrapper img {
    width: 240px;
    transition: all 1s ease-out;
}
.layout-pro-list .pro-list li:hover img {
    transform: scale(1.1);
}
.pro-list li p {
    margin: 6px 0 6px 12px;
}
.pro-list li p a {
    color: #ff4400;
    text-decoration: none;
}
.pro-list li p a:hover {
    text-decoration: underline;
}
.pro-list li .pl-price {
    color: #f00;
}
/**分页**/
.layout-page {
    font-size: 12px;
    text-align: center;
    margin: 20px 0;
}
.layout-page .page {
    list-style: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.layout-page .page li {
    float: left;
}
.layout-page .page li a,
.layout-page .page li span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 6px 12px;
    text-decoration: none;
    color: #9b9b9b;
    border: 1px solid #d8d8d8;
    margin-left: -1px;
}
.layout-page .page li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.layout-page .page li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.layout-page .page li a:hover {
    color: #9b9b9b;
    border: 1px solid #d8d8d8;
    background: #f5f5f5;
}
.layout-page .page li.selected a {
    background: #23a8aa;
    color: #fff;
    border: 1px solid #23a8aa;
}
.layout-page .page li.disabled a,
.layout-page .page li.disabled a:hover,
.layout-page .page li.disabled span {
    cursor: default;
    background: #f5f5f5;
}
/**轮播图组件**/
.layout-slider,
.layout-slider .slider{
    position: relative;
    height: 300px;
}
.layout-slider .slider ul{
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.layout-slider .slider ul li{
    width: 100%;
    height: 300px;
    float: left;
    display: none;
    opacity: 0;
    transition: all 2s .4s ease;
}
.layout-slider .slider ul li.current{
    display: block;
    opacity: 1;
}
.layout-slider .slider ol{
    position: absolute;
    bottom: 15px;
    right: 50%;
}
.layout-slider .slider ol li{
    height: 6px;
    width: 6px;
    background: #b0b0ae;
    float: left;
    margin-left: 14px;
    cursor: pointer;
}
.layout-slider .slider ol li:first-child{
    margin-left: 0;
}
.layout-slider .slider ol li.current{
    background: #0e1638;
}
/**搜索组件**/
.layout-search {
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    text-align: right;
}
.layout-search .layout-search__right {
    margin-right: 20px;
}
.layout-search .layout-search__right input {
    height: 24px;
    line-height: 24px;
    /*width: 180px;*/
    width: 20%;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.layout-2__left .layout-search .layout-search__right input,
.layout-3__left .layout-search .layout-search__right input,
.layout-3__right .layout-search .layout-search__right input {
    width: 40%;
}
.layout-search .layout-search__right span {
    display: inline-block;
    width: 40px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #f1f1f1;
    margin-left: -5px;
}
/**logo组件**/
.layout-logo {
    width: 100%;
    height: 80px;
    background: #f1f1f1;
    overflow: hidden;
}
.layout-logo-wrapper {
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #f60;
    margin: 0 auto;
    margin-top: 10px;
}
.layout-logo-wrapper img {
    width: 300px;
    height: 60px;
}
/**店铺公告**/
.layout-notice {
    width: 100%;
    min-height: 150px;
    border: 1px solid #d8d8d8;
}
.layout-notice p.ln-title {
    height: 36px;
    line-height: 36px;
    background: #f1f1f1;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px solid #d8d8d8;
}
.layout-notice .layout-notice-list li {
    width: 90%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.layout-notice .layout-notice-list li:not(:last-child) {
    border-bottom: 1px dotted #d8d8d8;
}
.layout-notice .layout-notice-list li a {
    color: #333;
    text-decoration: none;
}
.layout-notice-dialog {
    width: 70%;
    background: #fff;
    border: 1px solid #d8d8d8;
    height: 300px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    z-index: 100;
    display: none;
}
.layout-notice-dialog p i{
    position: absolute;
    right: 12px;
    cursor: pointer;
}
.layout-notice-content h5{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 3px;
}
.layout-notice-content .notice-time {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}
.layout-notice-content p {
    line-height: 1.2em;
    padding: 0 12px;
    text-indent: 2em;
    margin: 5px 0;
    color: #666;
}
/**
-----------------------------------
编辑框类样式
-----------------------------------
**/
.edit-dialog,
.tab-setting {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 600px;
    min-height: 300px;
    margin-left: -300px;
    background: #fff;
    z-index: 100;
    display: none;
    z-index: 999;
    border: 1px solid #d8d8d8;
}
.edit-dialog .close-btn,
.tab-setting .setting-close {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    z-index: 998;
}
.edit-dialog .save-btn,
.tab-setting .setting-save {
    margin: 10px auto;
    width: 80%;
    text-align: center;
}
.edit-dialog .save-btn span,
.tab-setting .setting-save span{
    display: inline-block;
    width: 80px;
    height: 34px;
    line-height: 34px;
    background: #f60;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
.edit-dialog .dialog-content,
.tab-setting .setting-box {
    padding: 10px;
}
.upload-wrapper{
    float: left;
}
.upload-wrapper span{
    width: 88px;
    height: 88px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    margin-right: 5px;
}
.upload-wrapper img{
    width: 88px;
    height: 88px;
    border: 1px solid #d8d8d8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.upload-wrapper i{
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 0;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
    text-align: center;
}
.edit-dialog .imggroup div{
    margin:0 6px 6px 0;
    position:relative;
    float:left;
}
.edit-dialog .imggroup div img{
    width:146px;
    height:88px;
}
.edit-dialog .imggroup span{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
}
.edit-dialog .imggroup span:before{
    content: '';
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor:pointer;
    width:88px;
    height:88px;
    border:none;
    float: left;
    background:url(../images/addimg.png) no-repeat;
}
.edit-dialog .imggroup span input{
    cursor: pointer;
    position: absolute;
    width: 88px;
    height: 88px;
    border: none;
    background: none;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
}
.resource-lib p,
.setting-add p {
    font-size: 12px;
    color: #f60;
    padding: 12px 0;
}
.resource-lib p span,
.setting-add p span {
    cursor: pointer;
}
.resource-lib .rl-images-list {
    border: 1px solid #d8d8d8;
    height: 200px;
    overflow-y: auto; 
    display: none;
}
.rl-images-list li {
    float: left;
    width: auto;
    height: auto;
    margin: 5px 8px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.rl-images-list li.selected {
    border: 1px solid #f60;
}
.rl-images-list li img {
    width: 80px;
    height: 80px;
}
.slider-settings {
    font-size: 12px;
    color: #333;
    margin: 10px 0;
    border-top: 1px dashed #d8d8d8;
}
.slider-settings p {
    font-weight: bold;
}
.items .item {
    height: 34px;
    line-height: 34px;
}
.items .item.fl {
    float: left;
}
.items .item label,
.setting-add .setting-item label  {
    width: 80px;
    text-align: right;
    color: #666;
    display: inline-block;
    margin-right: 5px;
}
.items .item input,
.items .item select,
.setting-add .setting-item input  {
    width: 180px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding-left: 4px;
}
.items .item select {
    width: 200px;
}
.edit-dialog-mask {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #000;
    opacity: .7;
    display: none;
}
/**tab页设置**/
.tab-setting {
    min-height: 180px;
}
.tab-setting .setting-box-list {
    
}
.setting-box-list li {
    font-size: 12px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.setting-box-list li span {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}
.setting-box-list li i {
    position: absolute;
    right: 2px;
    top: 0px;
    cursor: pointer;
}
.setting-add {
    margin: 5px 0;
    border-top: 1px dashed #d8d8d8;
}
.setting-add p {
    padding-left: 12px;
}
.setting-add .setting-item {
    margin-bottom: 6px;
    font-size: 12px;
    padding-left: 12px;
    display: none;
}
.setting-add .setting-item input {
    width: 250px;
    height: 30px;
    line-height: 30px;
}
.setting-add .setting-item a {
    display: inline-block;
    color: #333;
    border: 1px solid #d8d8d8;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    color: #666;
}

/**
-----------------------------------
信息提示样式
-----------------------------------
**/
.form-info__tips {
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 100002;
    text-align: center;
    display: none;
}

.form-info__tips span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #767676;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 6px 16px;
}

/**
-----------------------------------
覆盖类样式
-----------------------------------
**/
.ui-state-highlight { height: 1.5em; line-height: 1.2em; background: #fffa90;border: 1px dotted black;}
/**
-----------------------------------
辅助类样式
-----------------------------------
**/
.border {
    border: 1px solid #d8d8d8;
}
.mt20 {
    margin-top: 20px;
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix{
    *zoom: 1;
}